<div class="jumbotron bg-info d-flex align-items-center flex-column">
  <h1 class="display-3"><%= image_tag @user.profile_img_url, class: "img-fluid rounded-circle", style: "height: 5rem"%>
<%= @user.first_name %> <%= @user.last_name %></h1>
<div class="card bg-light text-center p-3 align-self-center" style="width: 40rem; height: 10rem">
  <div class="card-body">
    <h4 class="card-title">Long Term Goal</h4>
    <p class="card-text"><%= @user.long_term_goal %></p>
  </div>
</div>
</div><br>
<% if @user.id == current_user.id %>
<%= render "posts/form"  %><br><br>
<% end %>
<div class="card border-light mb-3 " style="width: 100%;">
  <div class="card-header bg-primary text-white">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Newsfeed</a>
  
    <%= form_tag(@user, method: :get, class:"form-inline my-2 my-lg-0") do %>
    <%#= text_field_tag(:search, params[:search]) %>
   <%= select_tag :search, options_for_select([['Food/Healthy Eating', 'food'], ['Fitness','fitness'], ['Social/Other','other']]), class:"form-control mr-sm-2 float-right"%> <br><br>
    <%= submit_tag ("Search"), class:"btn btn-secondary my-2 my-sm-0" %>
  <% end %> 
  </div>
</nav>
  
  
  
  
  
  </div>
  <div class="card-body">
<%= render "posts/index" %>




