<div class="d-flex align-items-center flex-column">
  <div class="card text-black bg-dark mb-3" style="width: 90%;">
    <div class="card-header text-center"><h1 style="color:white">Meal for <%= current_date %>: </h1></div>
      <div class="card-body ">
        <% if @meal.errors.any?  %>
            <p><%= @meal.errors.full_messages.to_sentence %></p>   
        <% end %>        
        <%= form_with(model: [@daily_journal, journal_meal], local: true) do |meal| %>
            <div class="card-group ">
                <%# first food card %>
                    <%= meal.fields_for :food_items do |food| %>
                        <div class="card bg-light mb-3">
                        <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Food</h5>
                        <%= food.label :name %><br>
                        <%= food.text_field :name %><br><br>

                        <%= food.label :calories %><br>
                        <%= food.number_field :calories, min: "0" %><br><br>

                        <%= food.label :carbs %><br>
                        <%= food.number_field :carbs, min: "0" %><br><br>

                        <%= food.label :protein %><br>
                        <%= food.number_field :protein, min: "0" %><br><br>

                        <%= food.label :fat %><br>
                        <%= food.number_field :fat, min: "0" %><br><br>    
                        </div>
                        </div>                              
                    <% end %>    
                     </div>  
                 <%# notes %>
                <h5><%= meal.label :notes, "Notes for this meal:", style:"color:white" %></h5> 
                     <%= meal.text_area :notes, class:"form-control"%> <br><br>          
                 <%# category %>
                <h5><%= meal.label :category, "Meal Category:", style:"color:white" %></h5> 
                     <%= meal.select :category, ['Breakfast', 'Lunch', 'Dinner', 'Snack']%> <br><br>
                <%# time eaten %>
                <h5><%= meal.label :time_eaten, "Time Eaten:", style:"color:white"  %></h5> 
                    <%= meal.time_field :time_eaten %> <br> <br> 
                <%# submit button %>
                <div class="actions">
                    <%= meal.submit class:"btn btn-primary"%>
                </div><br>
            <%end%>         
        </div>
        </div><br>
    </div>
 </div>
<%= link_to "Back", :back %>