<div class="card text-white bg-dark mb-3 text-center mx-auto" style="width: 50rem; height: 16rem">
  <div class="card-body">
      <h4 class="card-title">How's it going?</h4>



      <%= form_with model: @post, local: true do |f| %>
        <%= f.text_area :content, placeholder:"New Post....", class:"form-control" %><br>
        <%= f.label :theme %>
        <%= f.select :theme, options_for_select([['Food/Healthy Eating', 'food'], ['Fitness','fitness'], ['Social/Other','other']])%> <br><br>
        <div class="actions">
            <%= f.submit class:"btn btn-primary"%>
        </div><br>
      <% end %>


  </div>
</div>