<div class="card border-light mb-3 " style="width: 100%;">
  <div class="card-header bg-primary text-white text-center "><h5>Newsfeed: </h5></div>
  <div class="card-body">
    <% @posts.each do |post| %>
      <% if post.theme == "food"%>
        <div class="card border-success mb-3 w-60">
      <% elsif post.theme == "fitness" %>
        <div class="card border-warning mb-3 w-60">
      <% else %>
          <div class="card border-info mb-3 w-60">
      <% end %>
          <div class="card-header">
            <div class="d-flex align-items-center w-100"><%= image_tag post.user.profile_img_url, class: "img-fluid rounded-circle p-2", style: "height: 3rem"%><%= link_to post.user.username, user_path(post.user), class:"p2" %><small class="ml-auto p2"><%= post.updated_at.strftime('%b %d, %Y') || post.created_at.strftime('%b %d, %Y') %></small></div>
            </div>
            <div class="card-body">
              <%= post.content %><br><br><br>
              <ul class="list-group list-group">
                <% post.comments.each do |comment| %>
                <small class="text-muted text-right font-italic align-end"><%= post.updated_at.strftime('%b %d, %Y') || post.created_at.strftime('%b %d, %Y') %></small>
                   <li class="list-group-item"><%= image_tag comment.user.profile_img_url, class: "img-fluid rounded-circle p-2", style: "height: 3rem"%><%= link_to comment.user.username, user_path(comment.user) %> &nbsp;&nbsp;&nbsp;&nbsp <%= comment.content %></li>
                <% end %>
              </ul>
          <div class="modal-footer d-flex">
          <span class="mr-auto p-2"><%= link_to 'Comment', new_post_comment_path(post), class:"card-link" %></span>

                <% if post.user_id == current_user.id %>
          <small class="p-2"><%= link_to 'Edit', edit_post_path(post), class:"card-link" %></small>
          <small class="p-2"><%= link_to("Delete", post, method: :delete, data:{confirm: "Are you sure?"}) %></small>
                <% end %>
          
          </div>
    </div>
    </div>

<% end %>
  </div>